<div class="card card--size">
    <div class="card-image">
        <figure class="image is-3by2"><img src="../../assets/bg1.jpeg" alt="image"></figure>
    </div>
    <div class="card-content">
        <div class="content">
            <div class="media">
                <div class="media-left">
                    <figure class="is-vcentered">
                        <img class="image is-48x48" style="border-radius: 20%;" src="../../assets/bg1.jpeg" alt="profile picture">
                    </figure>
                </div>
                <div class="media-content scroll--off">
                    <p class="title is-4">John Smith</p>
                    <p class="subtitle is-6">@johnsmith</p>
                </div>
            </div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
            </div>
        </div>

    </div>
</div>