<div class="container m-3">
    <div class="field">
        <label class="label" for="length">Enter the Password length</label>
        <input (change)="handleInput($event.target.value)" class="input" id="length" type="text">
        <span *ngIf="error">{{error}}</span>
    </div>
    <div class="container m-4">
        <div class="field">
            <input (click)="handleCheckbox($event.target.id)" id="cha" type="checkbox">
            <label class="checkbox px-3" for="cha">Use Characters</label>
        </div>

        <div class="field">
            <input (click)="handleCheckbox($event.target.id)" id="numb" type="checkbox">
            <label class="checkbox px-3" for="numb">Use Numbers</label>
        </div>
        <div class="field">
            <input (click)="handleCheckbox($event.target.id)" id="symb" type="checkbox">
            <label class="checkbox px-3" for="symb">Use Symbols</label>
        </div>
    </div>
    <input (click)="handleButton()" class="button" type="button" value="Generate" [disabled]="( !(length && (useCha || useNumb  ||useSymb)))">
    <div class="my-3">
        <h2 class="label" id="finalPassword">Generated Password</h2>
        <label class="input" for="finalPassword">{{password}}</label>
    </div>
</div>